.App-Container {
  display: flex;
  height: calc(85vh);
  align-items: center;
  background-image: url();
}

.Header {
  margin-left: 10px;
  color: #3B6D6E;
  flex: 1;
  background: white;
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.Header > h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
}

.Header > button {
  background: #3B6D6E;
  color: white;
  font-size: larger;
  font-weight: 900;
  padding: 5px 10px;
  border: none;
  margin:auto;
}

.Header > button:hover {
  cursor: pointer;
}

.Header-Spacer {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Header-Spacer > img {
  border-radius: 1em;
}